wandb
output 
my_checkpoint.pth.tar 
synthetic_data_generation/output
synthetic_data_generation/assets/background_images
segmentation_model/sim_data 
segmentation_model/data 
segmentation_model/Test Images
segmentation_model/models
segmentation_model/Test Images
segmentation_model/test_images_real 
keypoints_model/models
test_data 
*.pth 
*.pyc
saved_images 
test_data 
real_data_processing/raw_data 